/* .slick-slide-image {
   width: 150px;
  height: 337px;
  object-fit: scale-down; 
  position: relative;
  overflow: hidden;
  height: 180px;
  margin: 8px;
} */

/* .slick-slide {
  width: 180px;
  object-fit: scale-down;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: 8px;
} */

.slick-slide-image {
  width: 100px;
  height: 150px;
  border-radius: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: blur(10px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(10px);
}

.position-absolute {
  top: 0px;
  height: 100%;
}

.slick-slide {
  overflow: hidden;
  border-radius: 10px;
}

#overlap {
  width: 100px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* .slick-slide img {
  width: 100px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  object-fit: cover;
  
}
 */
