.banner-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  padding-right: 40px;
}

.site-layout-background {
  background: #fff;
  padding: 50px 90px;
}

.listen-now {
  background-color: #f7451d;
  height: 60px;
  border: solid;
  color: #ffffff;
  padding: 0px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 97px;
  cursor: pointer;
  border-radius: 12px;
}

.header-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 9px;
  float: right;
}

.main-header {
  background-color: #fff;
  /* padding: 0px 24px 24px; */
}

/*Home Middle Section*/

.middle-sec-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  padding-left: 40px;
  line-height: 1.3;
}

#listen-now-btn {
  margin-top: 150px;
}

/*Home Bottom Section*/
.discover-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  padding-right: 40px;
}

.discover-text {
  font-size: 1rem;
}

.home-bottom-thumbnail {
  padding: 0px;
}

.thumbnail-container .ant-card-body {
  padding: 0;
}

#discover-more-btn {
  margin-top: 80px;
}
