#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  padding-right: 40px;
}

.listen-now {
  background-color: #ee5115; /* Green */
  height: 60px;
  border: none;
  color: white;
  padding: 0px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 98px;
  left: 85px;
  cursor: pointer;
  border-radius: 10px;
}

.listen-now:hover {
}

.header-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 9px;
  float: right;
}
