.horizontal-menu {
  height: 65px;
}

a:link {
  text-decoration: none;
}

.logo {
  float: left;
  margin: 8px 24px 8px 0px;
}

.search-bar {
  margin-top: 5px;
  border-radius: 10px;
}

.searchBarPos {
  float: right;
}

.main-header {
  padding: 0 90px;
}
